extends layout

block content


    div(class="main")
        h2 This is  a project for CMPE 280 by the team CodeTitans!
        div(class="title") The objective of the team is to create an interactive online pizza ordering website.  It will provide options for customers to choose and order their own customized pizza. 
        img(src=('http://35.194.50.254:3050/static/websiteuc.jpg'))

