extends layout

block content
    div(class="sidenav")
        a(href='http://localhost:3050/user') Home
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Order
        a(href='http://localhost:3050/contactUs') Contact Us
    style
            include signup.css
            //include layout.css
    div(class="main") 
        p
            h2 Email me at : utsav.jain@sjsu.edu
            img(src=('http://localhost:3050/static/welcome.gif'))