extends layout

block content
    div(class="sidenav")
        a(href='http://35.194.50.254:3050/home') Home
        a(href='http://35.194.50.254:3050/pizza') Pizza options
        a(href='http://35.194.50.254:3050/profile') Profile
        a(href='http://35.194.50.254:3050/pastOrder') Past Orders
        a(href='http://35.194.50.254:3050/contactUs') Contact Us
        a(href='http://35.194.50.254:3050/logout') Log Out
    style
            include signup.css
            //include layout.css
    div(class="main") 
        div(class="title") Email us at : info@titanspizza.com
            br
            img(src=('http://35.194.50.254:3050/static/Welcome.jpg'))