extends layout

block content
    div(class="sidenav")
        a(href='http://localhost:3050/home') Home
        a(href='http://localhost:3050/pizza') Pizza options
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Orders
        a(href='http://localhost:3050/contactUs') Contact Us
    style
            include signup.css
            //include layout.css
    div(class="main") 
        div(class="title") Welcome to CodeTitans!
            br
            img(id = 'myImage', src=('http://localhost:3050/static/Welcome.jpg'), onclick='changepic()')

            br 
            input(type='button', value='Change to Red', onclick='chBackcolor()')
            br
            input(type='button', value='Change to Yellow', onclick='chBackcolory()')
    script(type='text/javascript', src='static/signup.js')