extends layout

block content
    div(class="sidenav")
        a(href='http://localhost:3050/home') Home
        a(href='http://localhost:3050/pizza') Pizza options
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Orders
        a(href='http://localhost:3050/contactUs') Contact Us
        a(href='http://localhost:3050/logout') Log Out
    style
        //include signup.css
        //include layout.css
    div(class="main") 
        div(class="title") Welcome to Titan Pizza, #{user.UserName.firstName}!
            br
            img(src=('http://localhost:3050/static/Welcome.jpg'))
    h3(class="title") Store Location
    #map
    style.
        #map {
            width: 50%;
            height: 400px;
        }

    script.
        function initMap() {
            var myLatLng = {lat: 37.42, lng: -121.95};
        
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
            });
        
            var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Titan Pizaa'
            });
        }
    
    
            br
            img(id = 'myImage', src=('http://localhost:3050/static/Welcome.jpg'), onclick='changepic()')

            br 
            input(type='button', value='Change to Red', onclick='chBackcolor()')
            br
            input(type='button', value='Change to Yellow', onclick='chBackcolory()')
    script(type='text/javascript', src='static/signup.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC10bC4QxA4c5Vf8MuAIqFgXADXtAhNMtk&callback=initMap")
