extends layout

block content
    div(class="sidenav")
        a(href='http://localhost:3050/home') Home
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Order
        a(href='http://localhost:3050/contactUs') Contact Us
    style
            include signup.css
            //include layout.css
    div(class="main") 
        div(class="title") Welcome to CodeTitans!
            br
            img(src=('http://localhost:3050/static/Welcome.jpg'))
