doctype html
html
    head
        style
            include layout.css
        title   #{title}
        link(rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/hot-sneaks/jquery-ui.css")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
    body
        div(class='logo')
            a(href = 'http://localhost:3050') 
                table(class="main")
                    tr
                        td
                            img(src=('http://localhost:3050/static/pizzaLogo.png'))
                        td
                            h1(class="header") Titan Pizza 
                           
        br
        br
        block content
        br
        br
        footer(class="main")  
            p Copyright Info: We don't own ANY  copyrights
            p 
                a(href = 'http://localhost:3050/about') About Us
            p 
                a(href = 'http://localhost:3050/career') Career

        script(type='text/javascript', src='static/signup.js')