body {
    height: 100%;
    width: 100%;
    background-color: #ffe900;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1  {
    color: rgba(0, 0, 0, 0.884);
    text-shadow: #fff
}

legend {
        color:black;
        font-size: 18px;
}
p, label    {
    color: rgb(22, 21, 21);
    text-shadow: #fff;
}
a {
    color: rgb(8, 16, 255);
    font-weight: 600;
    font-size: 18px;
}

.login{
    align-content: center;
    padding: 10px;
    z-index: 2;

}

.login input[type=text]{
    width: 250px;
    height: 20px;
    /* background: transparent; */
    border: 1px solid rgba(15, 15, 15, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password]{
    width: 250px;
    height: 20px;
    /*background: transparent;*/
    border: 1px solid rgba(15,15,15,0.6);
    border-radius: 2px;
    color: #000;
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button]{
    margin: 10px;
}

.login p{ 
    color : rgb(8, 16, 255);
    font-weight: 600;
    font-size: 18px;
}

.login input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(12, 0, 0, 0.925);
}

.logo {
    align-content: center;
    align-self: center;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(14, 1, 1); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    display: flex;
    flex-direction: column;
    width: 100vh;
    align-items: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.title {
    font-size: 20px;
    padding: 30px;
    font-family: fantasy;
}

.header {
    color: rgba(0, 0, 0, 0.884);
    text-shadow: #fff 
}

ol{display: none;}
.drop
    {
    display: block;
    }

#tabs {
    width: 80%;
    display: flex;
    flex-direction: column;
    left: 80px;
}
