doctype html
html
    head
        style
            include layout.css
        title   #{title}
        link(rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
        script(src="//code.angularjs.org/1.6.10/angular.min.js")
        script(src="//code.angularjs.org/1.6.10/angular-animate.js")
    body
        div(class='logo')
            a#home(href = 'http://35.194.50.254:3050/home') 
                table(class="main")
                    tr
                        td
                            img(src=('http://35.194.50.254:3050/static/pizzaLogo.png'))
                        td
                            h1(class="header") Titan Pizza 
                           
        br
        br
        block content
        br
        br
        div
            footer(class="main")  
                p Copyright Info: We don't own ANY  copyrights
                p 
                    a(href = 'http://35.194.50.254:3050/about') About Us
                p 
                    a(href = 'http://35.194.50.254:3050/career') Career

        script(type='text/javascript', src='static/signup.js')
