doctype html
html
    head
        style
            include layout.css
        title   #{title}
    body
        div(class='logo')
            a(href = 'http://localhost:3050') 
                table(class="main")
                    tr
                        td
                            img(src=('http://localhost:3050/static/pizzaLogo.png'))
                        td
                            h1 Titan Pizza 
                           
        br
        br
        block content
        br
        br
        footer(class="main")  
            p Copyright Info: We don't own ANY  copyrights 😅
            p 
                a(href = 'http://localhost:3050/about') About Us
            p 
                a(href = 'http://localhost:3050/career') Career