extends layout

block content
    body
    script(type='text/javascript').
      $(window).load(function(){
        $("#home").attr("href","http://35.194.50.254:3050/");
      });
    h1 Welcome to Pizza Titans 
    .login
      form(action='/auth', method='post')
        fieldset(class="feildset")
          legend Account Login
          table
            tr
                td
                    label Email : 
                td
                    input(name='email', type='text', placeholder='Enter Registered Email', pattern='^.+@.+\..{2,4}$', required='')
            tr
                
                td
                    label Password : 
                td
                    input(name='password', type='password', placeholder='Enter your password', required='')
            tr
                td

                td
                    input(type='submit', value='Submit')
                    input(type='button', value='Forgot Password', onclick='myFunction()')
            tr
                td
                    div(class="title")
                        |Don't have an account! No worries, just 
                td    
                    a(href='/signup') Sign Up!

