extends layout

block content
  style.
    body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('https://static.pexels.com/photos/162918/pizza-cheese-margarita-homemade-162918.jpeg');
    background-size:100%;
    background-repeat: no-repeat;
    opacity: 1;
    }
    h1  {
    color: rgba(6, 20, 83, 0.884);
    }
    legend {
    color:black;
    font-size: 18px;
    }
    p, label    {
    color: rgb(10, 10, 10);
    }
    a {
    color: rgb(255, 230, 8);
    font-weight: 600;
    font-size: 18px;
    }
    .login{
    align-content: center;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 800px;
    width: 600px;
    padding: 10px;
    z-index: 2;
    }
    .login input[type=text]{
    width: 250px;
    height: 20px;
    /* background: transparent; */
    border: 1px solid rgba(15, 15, 15, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
    }
    .login input[type=password]{
    width: 250px;
    height: 20px;
    /*background: transparent;*/
    border: 1px solid rgba(15,15,15,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
    }
    .login p{
    color : rgb(255, 230, 8);
    font-weight: 600;
    font-size: 18px;
    }
    .login input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(12, 0, 0, 0.925);
    }
  script.
    function myFunction() {
    alert("Sorry, the site underconstruction! Please try SignUp!");
    }
  body
    h1 Welcome to Pizza Titans 
    .login
      form(action='textfields', method='post')
        fieldset
          legend Account Login
          p
            label Email : 
            input(name='email', type='text', placeholder='Enter Registered Email', required='')
          p
            label Password : 
            input(name='password', type='password', placeholder='Enter your password', required='')
          p
            input(type='submit', value='Submit', onclick='myFunction()')
            input(type='button', value='Forgot Password', onclick='myFunction()')
          p
            | Don't have  an account! No worries, just
            a(href='/signup') Sign Up!

