extends layout

block content
    style
        include shoppingcart.css
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    
    div(class="sidenav")
        a(href='http://localhost:3050/home') Home
        a(href='http://localhost:3050/pizza') Pizza options
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Orders
        a(href='http://localhost:3050/contactUs') Contact Us
        a(href='http://localhost:3050/logout') Log Out

    #cart
        a(href='http://localhost:3050/shopping_cart')
            img(src='http://localhost:3050/static/cart.png', alt='X')

    div(id='margheritapizzadialog', style='display:none') 
        form(id = 'customDialogform' action='http://localhost:3050/shopping_cart' method = 'post')
            div(id='customDialogDiv')
                p Toppings : Tomato sauce, Mozzarella, Basil;
                legend Choose a Size: 
                input#size(type='radio', name='size' value= '1')
                label(for='size') Regular $4.50
            div(class="addToCartButton")
                button(type="submit") Add To Cart
    
    div(id='greekgardenpizzadialog', style='display:none') 
        form(id = 'customDialogform' action='http://localhost:3050/shopping_cart' method = 'post')
            div(id='customDialogDiv')
                p Toppings: Garlic sauce,Tomatoes,Spinach,Black olives,Feta cheese, Mozzarella,Provolone cheese
                legend Choose a Size: 
                input#size(type='radio', name='size' value= '2')
                label(for='size') Regular $4.50
            div(class="addToCartButton")
                button(type="submit") Add To Cart
    
    div(id='familyfavoritepizzadialog', style='display:none') 
        form(id = 'customDialogform' action='http://localhost:3050/shopping_cart' method = 'post')
            div(id='customDialogDiv')
                p Toppings : Red sauce, Pepperoni, Mushrooms, Tomatoes, Onion, Monterey jack, Mozzarella
                legend Choose a Size: 
                input#size(type='radio', name='size' value= '3')
                label(for='size') Regular $4.50
            div(class="addToCartButton")
                button(type="submit") Add To Cart
    
    div(id='signaturepizzadialog', style='display:none') 
        form(id = 'customDialogform' action='http://localhost:3050/shopping_cart' method = 'post')
            div(id='customDialogDiv')
                p Toppings: Pesto sauce, Tomatoes, Spinach, Red onion, Green peppers, Banana peppers, Bacon, Mozarella
                legend Choose a Size: 
                input#size(type='radio', name='size' value= '4')
                label(for='size') Regular $4.50
            div(class="addToCartButton")
                button(type="submit") Add To Cart
       
    div(id='customDialog', style='display:none') Make your Custom Pizza 
        form(id = 'customDialogform' action='http://localhost:3050/customize_shopping_cart' method = 'post')
            div(id='customDialogDiv')
                legend Sauce: 
                input#sauce(type='radio', name='sauce' value="Light")
                label(for='sauce') Light
                input#sauce(type='radio', name='sauce' value="Medium")
                label(for='sauce') Medium
                input#sauce(type='radio', name='sauce' value="Extra")
                label(for='sauce') Extra
            div(id='customDialogDiv')
                legend Size: 
                input#size(type='radio', name='size' value="Regular")
                label(for='size') Regular
                input#size(type='radio', name='size' value="Medium")
                label(for='size') Medium
                input#size(type='radio', name='size' value="Large")
                label(for='size') Large
                
            
            div(id='customDialogDiv')
                legend Vegetable: 
                input#Vegetable(type='checkbox', name='Vegetable' value='Spinach')
                label(for='Vegetable') Spinach
                input#Vegetable(type='checkbox', name='Vegetable' value='Mushroom')
                label(for='Vegetable') Mushroom
                input#Vegetable(type='checkbox', name='Vegetable' value='Tomato')
                label(for='Vegetable') Tomato
                input#Vegetable(type='checkbox', name='Vegetable' value='Onion')
                label(for='Vegetable') Onion
                
        
            div(id='customDialogDiv')
                legend Meat: 
                input#checkbox-1(type='checkbox', name='Meat' value='Beef')
                label(for='Meat') Beef            
                input#checkbox-2(type='checkbox', name='Meat' value='Chicken')
                label(for='Meat') Chicken
                input#checkbox-3(type='checkbox', name='Meat' value='Bacon')
                label(for='Meat') Bacon
                input#checkbox-4(type='checkbox', name='Meat' value='Sausage')
                label(for='Meat') Sausage

            div(id='customDialogDiv')
                legend Cheese: 
                input#checkbox-1(type='checkbox', name='Cheese' value='Feta Cheese')
                label(for='Cheese') Feta Cheese
                input#checkbox-2(type='checkbox', name='Cheese' value='Parmesan Cheese')
                label(for='Cheese') Parmesan Cheese
                input#checkbox-3(type='checkbox', name='Cheese' value='Mozzarella')
                label(for='Cheese') Mozzarella
                input#checkbox-4(type='checkbox', name='Cheese' value='Goat Cheese')
                label(for='Cheese') Goat Cheese
            div(class="addToCartButton")
                button(type="submit") Add To Cart

    h1 Specially Crafted Titan Pizza
    #tabs
        ul(id="selectable")
            
            li(class="ui-widget-content", id='1') 
                img(src='http://localhost:3050/static/Margherita.png') 
                p(class="pizzaDescription") Margherita
            li(class="ui-widget-content", id='2') 
                img(src='http://localhost:3050/static/Greek_Garden.png') 
                p(class="pizzaDescription") Greek Garden
            li(class="ui-widget-content", id='3') 
                img(src='http://localhost:3050/static/Family_favorite.png') 
                p(class="pizzaDescription") Family Favorite
            li(class="ui-widget-content", id='4')
                img(src='http://localhost:3050/static/Signature_Titan.png') 
                p(class="pizzaDescription") Signature - Code Titan

        ul(id="customSelectable")
            li(class="ui-widget-content", id='0') 
                p(class="customPizzaDescription") Customize your pizza 

    script.
        $( function() {
            $( "#selectable" ).selectable({
                 selected: function( event, ui ) {
                    if (ui.selected.id == 1) {
                         $('#margheritapizzadialog').load(ui.selected.href);
                         $('#margheritapizzadialog').dialog({
                            title: ui.selected.textContent,
                            width: "30%",
                            closeText: "",
                            resizable: "false"
                            }).dialog("open");
                     } else if (ui.selected.id == 2) {
                         $('#greekgardenpizzadialog').load(ui.selected.href);
                         $('#greekgardenpizzadialog').dialog({
                            title: ui.selected.textContent,
                            width: "30%",
                            closeText: "",
                            resizable: "false"
                            }).dialog("open");
                     } else if (ui.selected.id == 3) {
                         $('#familyfavoritepizzadialog').load(ui.selected.href);
                         $('#familyfavoritepizzadialog').dialog({
                            title: ui.selected.textContent,
                            width: "30%",
                            closeText: "",
                            resizable: "false"
                            }).dialog("open");
                     } else if (ui.selected.id == 4) {
                         $('#signaturepizzadialog').load(ui.selected.href);
                         $('#signaturepizzadialog').dialog({
                            title: ui.selected.textContent,
                            width: "30%",
                            closeText: "",
                            resizable: "false"
                            }).dialog("open");
                     }
                 }
            });
            $( "#customSelectable" ).selectable({
                 selected: function( event, ui ) { 
                    $('#customDialog').dialog({
                        title: ui.selected.textContent,
                        width: "50%",
                        closeText: "",
                        resizable: "false"
                    }).dialog("open");
                 }
            });
            $( "#dialogAddToCartButton" ).click( function( event ) {
                 alert("HI");
            } );
            $( "#dialogCustomAddToCartButton" ).click( function( event ) {
                 alert("HELLO"); 
            } );
        });
    