extends layout

block content
    style
        include topping.css
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    div(class="sidenav")
        a(href='http://localhost:3050/home') Home
        a(href='http://localhost:3050/pizza') Pizza options
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Orders
        a(href='http://localhost:3050/contactUs') Contact Us
        a(href='http://localhost:3050/logout') Log Out

    
    h1 Specially Crafted Titan Pizza
    #tabs
        ul
            li
                a(href='http://localhost:3050/static/margherita.html') Margherita
            li
                a(href='http://localhost:3050/static/greek_garden_pizza.html') Greek Garden
            li
                a(href='http://localhost:3050/static/family_favorite.html') Family Favorite
            li
                a(href='http://localhost:3050/static/mediterranean.html') Mediterranean
            li
                a(href='http://localhost:3050/static/south_of_the_border.html') South of the Border
            li
                a(href='http://localhost:3050/static/signature_pizza.html') Signature - Code Titan


    
    h2 Customized Your Topping
    div
        #toppiglist
            h3 Vegetable
            ul(class='source')
                li Spinach
                li Mushroom
                li Tomato
                li Onion
            h3 Meat
            ul(class='source')
                li Beef
                li Chicken
                li Bacon
                li Sausage
            h3 Cheese
            ul(class='source')
                li Feta Cheese
                li Parmesan Cheese
                li Mozzarella
                li Goat Cheese
            h3 Sauce&Dough
            ul(class='source')
                li BBQ Sauce
                li Garlic Sauce
                li Italian Tomato Sauce
                li Pesto Sauce
                li Hot Sauce
        
        #cart
            h2 Chosen Topping
            ul
            #items

    script.
        $(document).ready(function(){
            $("#tabs").tabs();
            $("#toppiglist").accordion();
            $(".source li").draggable({helper:"clone"});
            $("#cart").droppable({drop:function(event,ui){
                $("#items").append($("<li></li>").text(ui.draggable.text()));
            }});
            $("#cart").resizable();
        });
    