extends layout

block content
    style
        include topping.css
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    div(class="sidenav")
        a(href='http://localhost:3050/home') Home
        a(href='http://localhost:3050/pizza') Pizza options
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Orders
        a(href='http://localhost:3050/contactUs') Contact Us
        a(href='http://localhost:3050/logout') Log Out

    div(id='pizzadialog', style='display:none') 
        div(id='customDialogDiv')
            legend Choose a Size: 
            input#radioSize(type='radio', name='radioSize')
            label(for='radioSize') Regular $4.50
        div(id='dialogAddToCartButton', class="addToCartButton")
            button Add To Cart
        
       
    div(id='customDialog', style='display:none') Make your Custom Pizza 
        div(id='customDialogDiv')
            legend Sauce: 
            input#radioCustomSauce(type='radio', name='radioCustomSauce')
            label(for='radioCustomSauce') Light
            input#radio-2(type='radio', name='radioCustomSauce')
            label(for='radioCustomSauce') Medium
            input#radio-2(type='radio', name='radioCustomSauce')
            label(for='radioCustomSauce') Extra
        div(id='customDialogDiv')
            legend Size: 
            input#radio-3(type='radio', name='radioCustomSize')
            label(for='radioCustomSize') Regular
        
        div(id='customDialogDiv')
            legend Vegetable: 
            input#checkbox-1(type='checkbox', name='checkboxCustomVegetable_1')
            label(for='checkboxCustomVegetable_1') Spinach
            input#checkbox-2(type='checkbox', name='checkboxCustomVegetable_2')
            label(for='checkboxCustomVegetable_2') Mushroom
            input#checkbox-3(type='checkbox', name='checkboxCustomVegetable_3')
            label(for='checkboxCustomVegetable_3') Tomato
            input#checkbox-4(type='checkbox', name='checkboxCustomVegetable_4')
            label(for='checkboxCustomVegetable_4') Onion
            
       
        div(id='customDialogDiv')
            legend Meat: 
            input#checkbox-1(type='checkbox', name='checkboxCustomMeat_1')
            label(for='checkboxCustomMeat_1') Beef            
            input#checkbox-2(type='checkbox', name='checkboxCustomMeat_2')
            label(for='checkboxCustomMeat_2') Chicken
            input#checkbox-3(type='checkbox', name='checkboxCustomMeat_3')
            label(for='checkboxCustomMeat_3') Bacon
            input#checkbox-4(type='checkbox', name='checkboxCustomMeat_4')
            label(for='checkboxCustomMeat_4') Sausage

        div(id='customDialogDiv')
            legend Cheese: 
            input#checkbox-1(type='checkbox', name='checkboxCustomCheese_1')
            label(for='checkboxCustomCheese_1') Feta Cheese
            input#checkbox-2(type='checkbox', name='checkboxCustomCheese_2')
            label(for='checkboxCustomCheese_2') Parmesan Cheese
            input#checkbox-3(type='checkbox', name='checkboxCustomCheese_3')
            label(for='checkboxCustomCheese_3') Mozzarella
            input#checkbox-4(type='checkbox', name='checkboxCustomCheese_4')
            label(for='checkboxCustomCheese_4') Goat Cheese
        div(id='dialogCustomAddToCartButton', class="addToCartButton")
            button Add To Cart
    
    h1 Specially Crafted Titan Pizza
    #tabs
        ul(id="selectable")
            
            li(class="ui-widget-content", id='1') 
                img(src='http://localhost:3050/static/Margherita.png') 
                p(class="pizzaDescription") Margherita
            li(class="ui-widget-content", id='2') 
                img(src='http://localhost:3050/static/Greek_Garden.png') 
                p(class="pizzaDescription") Greek Garden
            li(class="ui-widget-content", id='3') 
                img(src='http://localhost:3050/static/Family_favorite.png') 
                p(class="pizzaDescription") Family Favorite
            li(class="ui-widget-content", id='4')
                img(src='http://localhost:3050/static/Signature_Titan.png') 
                p(class="pizzaDescription") Signature - Code Titan

        ul(id="customSelectable")
            li(class="ui-widget-content", id='0') 
                p(class="customPizzaDescription") Custom

    
    script.
        $(document).ready(function(){
            $("#toppiglist").accordion();
            $(".source li").draggable({helper:"clone"});
            $("#cart").droppable({drop:function(event,ui){
                $("#items").append($("<li></li>").text(ui.draggable.text()));
            }});
            $("#cart").resizable();
        });
        $( function() {
            $( "#selectable" ).selectable({
                 selected: function( event, ui ) {
                     if(ui.selected.id == 0) {
                        $('#customDialog').dialog();
                     } else {
                         //href='http://localhost:3050/static/south_of_the_border.html'
                         $('#pizzadialog').load(ui.selected.href);
                         $('#pizzadialog').dialog({
                            title: ui.selected.textContent,
                            width: "30%",
                            closeText: "",
                            resizable: "false"
                            }).dialog("open");
                     }
                 }
            });
            $( "#customSelectable" ).selectable({
                 selected: function( event, ui ) { 
                    $('#customDialog').dialog({
                        title: ui.selected.textContent,
                        width: "50%",
                        closeText: "",
                        resizable: "false"
                    }).dialog("open");
                 }
            });
            $( "#dialogAddToCartButton" ).click( function( event ) {
                 alert("HI");
            } );
            $( "#dialogCustomAddToCartButton" ).click( function( event ) {
                 alert("HELLO"); 
            } );
        });
    