extends layout

block content
    div(class="sidenav")
        a(href='http://localhost:3050/home') Home
        a(href='http://localhost:3050/pizza') Pizza options
        a(href='http://localhost:3050/profile') Profile
        a(href='http://localhost:3050/pastOrder') Past Orders
        a(href='http://localhost:3050/contactUs') Contact Us
        a(href='http://localhost:3050/logout') Log Out
    style
            include signup.css
            //include layout.css
    div(class="main") 
        div(class="title") We don't have a Database right now .. So.. Please be patient to view your proflie
            img(src=('http://localhost:3050/static/Welcome.jpg'))
