extends layout

block content
    style
            include signup.css
           
    form(action='')
        fieldset
            div
            .left
                label(for='FirstName') First Name   
                input(name='FirstName', type='text', placeholder='First Name *', required='')
            .right
                label(for='LastName') Last Name 
                input(name='LastName', type='text', placeholder='Last Name *', required='')
            div
            .left
                label(for='Email') Email      
                input(type='email', placeholder='Enter Email *', pattern='^.+@.+\..{2,4}$', required='', title='xxxxx@xxxx.xxx')
            .right
                label(for='Password') Password  
                input(name='Password', type='password', placeholder='Enter Password *', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters', required='')
            div
            .left
                label(for='Phone') Phone Number
                input(name='Phone', type='tel',pattern="[0-9]{10}", placeholder='Phone Number *', title='Phone Number (Format: (999)999-9999)', required='')
            .right
                label(for='date') Date of Birth
                input(name='date', id='datePicker' type='text', placeholder='Birthday date') 
        h2 Location
        fieldset
            p
            span.left
                label(for='address')  Address 
                input(type='text', placeholder='123 Main St.')
            span.right
                label City  
                input(type='text', placeholder='City')
            p
            span.left
                label State  
                input(type='text', placeholder='State')
            span.right
                label Zip Code
                input( type="text", placeholder="Enter Zip Code", pattern="[0-9]{5}",  title="Zip code(format : 99999 )", required='')
        input(id='", type='checkbox')
        | I agree to the terms of use
        br
        button(type='submit', onclick='ilovepizza()')  Create Account
   
