#toppiglist
{
    width:500px;
    height:400px;
    margin:25px;
    float: left;

}
#cart
{
    width:300px;
    height:400px;
    border:5px solid red;
    margin:25px;
    float: left
}

body{
    position: relative;
    width: 80%;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:50%;
    cursor: pointer;
    margin: 25px 50px 75px 10px;
}
 a{
    margin: 25px 50px 75px 10px;
}

.left{
    float: left;
    width:50%;
}
.right{
    float:right;
    width:50%;
 }


label{
    text-align: right;
}

fieldset
{
    max-width: 95%;
    border-color: white;
}

#accordion-resizer {
    padding: 10px;
    width: 650px;
  }

  #accordion-resizer {
    padding: 10px;
    width: 500px;
    height: 50px;
  }

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(14, 1, 1); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 50px 0px 10px;
    text-align: center;
    vertical-align: bottom
    position: relative;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Title Div Style class */
.title {
    font-size: 20px;
    padding: 30px;
    font-family: fantasy;
}
ol{display: none;}
.drop
    {
    display: block;
    }
